.multiple-teaser-wrapper {
  position: relative;
  overflow: hidden;

  .multiple-teaser {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
    
    @media (min-width: 768px) {
      display: flex;
      gap: 80px;
      padding-top: 100px;
    }

    @media (min-width: 1440px) {
      position: relative;
    }

    &__image {
      position: absolute;
      width: 100%;
      overflow: hidden;
      
      @media (min-width: 768px) {
        margin-top: 70px;
        width: auto;
      }

      @media (min-width: 1440px) {
        border-radius: 24px;
      }

      &--hidden {
        position: relative;
        padding: 0;
        opacity: 0;
        width: 100vw;

        @media (min-width: 768px) {
          padding: 70px 60px 0 0;
          width: 700px;
          height: 600px;
        }
      }

      &--1 {
        right: 480px;
        bottom: 0;
      }

      &--2 {
        right: 0;
        bottom: 0;
      }

      &--3 {
        right: 454px;
      }

      &-backdrop {
        @media (min-width: 768px) {
          position: absolute;
          right: 0;
          top: 270px;
          width: 350px;
          height: 300px;
          background: #F7F7F7;
          z-index: -1;
          border-radius: 20px 0;
        }

        @media (min-width: 1440px) {
          border-radius: 24px;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      padding: 0;

      @media (min-width: 768px) {
        padding: 0;
        margin: 0;
      }

      > * {
        padding: 0;
        margin: 0;
      }

      &-pretitle {
        text-transform: uppercase;
        color: var(--color-primary);
        margin-bottom: 20px;
      }

      &-title {
        text-transform: capitalize;
        margin-bottom: 20px;
      }

      &-description {
        margin-bottom: 24px;
      }

      &-button {
        color: var(--color-primary);

        &:hover {
          color: var(--color-black);

          &::after {
            margin-left: 30px;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          position: relative;
          margin-left: 10px;

          width: 39px;
          height: 13px;
          background: url('../../../public/svg/arrow-right.svg');
          transition: all var(--transition-time) ease;
        }
      }
    }
  }
}