@import './comps/item.scss';
@import './comps/selector.scss';

.listing-wrapper {
  background: #F7F7F7;

  .listing {
    padding: 50px 0;

    &__heading {
      text-align: center;
    }
  }

  .splide__arrow--prev {
    left: -5px;
  }

  .splide__arrow--next {
    right: -5px;
  }

  .splide__arrow--prev, .splide__arrow--next {
    background-color: var(--color-white);
    opacity: 1;
    height: 40px;
    width: 40px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.4);
  }
}